RESERVE_DB_URL=jdbc:postgresql://<host>/<db>?sslmode=require
RESERVE_DB_USERNAME=<username>
RESERVE_DB_PASSWORD=<password>

CORE_DB_URL=jdbc:postgresql://<host>/<db>?sslmode=require
CORE_DB_USERNAME=<username>
CORE_DB_PASSWORD=<password>

PAYMENT_DB_URL=jdbc:postgresql://<host>/<db>?sslmode=require
PAYMENT_DB_USERNAME=<username>
PAYMENT_DB_PASSWORD=<password>
