# reserve-service DB
RESERVE_DB_URL=jdbc:postgresql://{host}/{database}?sslmode=require
RESERVE_DB_USERNAME=
RESERVE_DB_PASSWORD=

# user-service DB
USER_DB_URL=jdbc:postgresql://{host}/{database}?sslmode=require
USER_DB_USERNAME=
USER_DB_PASSWORD=
