RESERVE_DB_URL=jdbc:postgresql://postgres:5432/reserve_db
RESERVE_DB_USERNAME=harness
RESERVE_DB_PASSWORD=harness

CORE_DB_URL=jdbc:postgresql://postgres:5432/core_db
CORE_DB_USERNAME=harness
CORE_DB_PASSWORD=harness

PAYMENT_DB_URL=jdbc:postgresql://postgres:5432/payment_db
PAYMENT_DB_USERNAME=harness
PAYMENT_DB_PASSWORD=harness
